.rvmrc
.rspec
.bundle
.rbx
.DS_Store
coverage/*
log/*.log
db/*.db
db/*.sqlite3
tmp/**/*
doc
config/database.yml
coverage/*
bin/*
vendor/bundle
public/system
public/updated.txt
*.swp
*.rbc
log/
sql/
tmp/
.idea
*.*~
\#*\#
